  body {
    min-height: 100%;
    margin: 0;
    font-family: "Montserrat Alternates", sans-serif;
    color: #574e4e;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    overflow-x: hidden;  /* Prevent horizontal scroll */
      overflow-y: auto;
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
 /* navbar */


.l {
    height: 50px;
}

.n-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 11px;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.m-c {
    width: 100%;
    
    margin-right: auto;
    margin-left: auto;
   
}


.n-r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.n-l-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.n-m {
    margin-left: 0px;
    font-size: 20px;
}

.n-l {
    margin-right: 30px;
    margin-left: 0px;
    padding: 0px;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    
}

.n-r   a {
    color: rgb(0, 75, 74);
text-decoration: none;
font-weight: 600;
font-size: 20px;
}

.n-r-c-w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.n-r-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}



.n-b-2 {
    background: rgb(217, 255, 0);
    border-color:rgb(217, 255, 0);
    color: rgb(0, 75, 74);
    font-size: 20px;
    border-radius: 50px;
    font-weight: 500;
    border: none;

padding: 5px 15px;
    border-radius: 50px;
  
}

.n-b-2 div{
  background: color(srgb 0.8489 1 0.0012);
border-color: color(srgb 0.8489 1 0.0012);
color:rgb(0, 75, 74);
}

.m-b {
    padding: 18px;
    margin-left: 12px;
    padding: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: none;
    float: right;
    font-size: 35px;
    display: none;
    cursor: pointer;
    color: rgb(0, 75, 74);
}

/* navbar + collapse function */

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-menu a {
    display: block;
    padding: 10px;
    text-align: center;
    font-family: inherit;
    font-size: 30px;
    line-height: 40.5px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(0, 75, 74);
}

.collapsible-menu label {
    display: block;
    cursor: pointer;
    padding: 10px 40px 10px 40px;
}

input#menu {
    display: none;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 40px 0 40px;
}

input:checked ~ .menu-content {
    max-height: 100%;
}

.collapsible-menu-button-bg {
    background:rgb(217, 255, 0);
    color: rgb(0, 75, 74);
    text-align: center;
    border-radius: 50px;
    margin-top: 10px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 600;
}
/* navbar + collapse function */

/* home */
.video-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }
    .static-image {
      display: none;
      width: 100%;
      margin-top: 20px;
    }
    .overlay {
      position: relative;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
    }

    .ologo{margin: auto;margin-top: 10px;margin-bottom: -10px;height: 200px;}
    .overlay h1 {
      font-size: 120px;
      letter-spacing: -3px;
      font-weight: 600;
      margin: 0;
      margin-bottom: 50px;
      line-height: 100px;margin-bottom: 0px;
    }

    .overlay h1 span{
      color:rgb(217, 255, 0);
; font-size: 150px; margin-bottom: -66px; position: absolute;
    }
    .overlay p {
      font-size: 27.5px;
      line-height: 1.45;
      margin: 20px 0;
      text-align: center;
    }
    .overlay-a-button{
background: rgb(217, 255, 0); color: rgb(0, 75, 74); padding: 5px 15px; border-radius: 50px; font-weight: bold; margin: 10px 0; display: inline-block; text-decoration: none; font-size: 20px; font-weight: 600; 
    }

    .overlay-i{
        display: none;
    }
    .overlay-span-1{
        font-size:14px;
    }

    .overlay-span-2{
        color:rgb(217, 255, 0);
    }
    .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      color: white;
      z-index: 1000;
    }

    .n-b-2 a{
      color: rgb(0, 75, 74);
    }
/* home */

/* the process */
.steps-container {
      position: relative;
      margin-left: 40px;
      border-left: 3px dashed white;
      padding-left: 20px;
    }

    .step {
      position: relative;
      padding: 20px 10px;
      margin-bottom: 20px;
    }

    .step::before {
      content: '';
      position: absolute;
      top: 20px;
      left: -33px;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border: 3px solid rgb(0, 75, 74);
      border-radius: 50%;
    }

    .step h3 {
      margin: 0 0 5px;
      color: #564e4e;
    }

    .step p {
      margin: 0;
      color: #564e4e;
    }
/* the process */

/* the blog */
.s-w-c {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.c-g-t {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    display: grid;
}


.c-g-t-c {
    
    color: #564e4e;
    border-radius: 20px;
    height: 200px;
    padding: 20px;
}

.c-g-t-c-i {
    border-radius: 20px;
    height: 80%;
    width: 100%;
    
}
.c-g-t-c-b{
background-color: white;
padding: 20px;
padding-bottom: 0px;
border-radius: 20px;
max-height: 240px;
}
.c-g-t-c-d {
   
    color: rgb(0, 75, 74);
    text-align: center;
}

.c-g-t-c-h {
    font-weight: 600;
    font-size: 17.5px;
}
      /* blog */



     
     /* the blog */
.s-w-c {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.c-g-t {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    display: grid;
}


.c-g-t-c {
    
    color: #564e4e;
    border-radius: 20px;
    height: 200px;
    padding: 20px;
}

.c-g-t-c-i {
    border-radius: 20px;
    height: 80%;
    width: 100%;
    
}
.c-g-t-c-b{
background-color: white;
padding: 20px;
padding-bottom: 0px;
border-radius: 20px;
max-height: 240px;
}
.c-g-t-c-d {
   
    color: #564e4e;
    text-align: center;
}

.c-g-t-c-h {
    font-weight: 600;
    font-size: 17.5px;
}
      /* blog */
   
/* content - blog */


    /* footer */
    .footer {
      padding: 20px;
      background: white;
      color: rgb(0, 75, 74);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: solid rgb(0, 75, 74) 10px;
    }
    .footer-links {
      display: flex;
      gap: 20px;
      font-weight: 600;
      font-size: 20px;
      text-decoration: none;
      color:rgb(0, 75, 74);
    }
    .footer-links a{
      text-decoration: none;
color: rgb(0, 75, 74);
    }
    
   .footer-links-2{
      display: flex;
      gap: 20px;
        font-size: 20px;
      font-weight: 600;
    }
/* footer */

/* smaller screens */
@media screen and (max-width: 800px) {

     /* blog */

    .c-g-t {
        max-width: 400px;
        grid-template-columns: 1fr;
    }
/* blog */
    .n-r-c {
        display: none;
    }

    .m-c {
        padding-right: 0px;
        padding-left: 0px;
    }

    .w[data-collapse="medium"] .n-m {
        display: none;
    }

    .w[data-collapse="medium"] .m-b {
        display: block;
    }
   
    .footer {
        flex-direction: column;
        text-align: center;
      }
      .footer-links {
        flex-direction: row;
        gap: 20px;
        margin-bottom: 20px;
      }
      .footer-links-2 {
        justify-content: center;
      }

      /* home */

      .collapsible-menu a{
        font-size: 22px;line-height: 30px;
      }
      .video-background {
        display: none;
      }
      .static-image {
        display: block;
      }
      .overlay {
        background:rgb(0, 75, 74);
        color: white;
        height: 100%;
        overflow: hidden;
      }
      .overlay h1 {
        font-size: 75px;
        margin-bottom: 30px;
        text-shadow: none;
        margin-top: 20px;
      }
      .overlay p {
        font-size: 20px;
         text-shadow: none;
         z-index: 2;
      }
.ologo{

    height: 100px;margin-top: 20px;
}
     
.overlay-i{
    display: block;height: 333px; margin-top: -338px; z-index: 1; margin-left: 190px;margin-bottom: -20px;
}
      /* home */

}

/* how it works */
.jkjs{
  background:rgb(0, 75, 74);text-align: center; color:white;overflow: hidden;
}


.jkjsh{
  font-size: 45px;font-weight: 500;
}

.jkjsp{
  display: flex; margin-left: auto; margin-right: auto; max-width: 353px; line-height: 28px;
}

.jksip{
  max-width: 490px; margin: auto;
}

.jksjk{
 position: absolute;
max-width: 540px;
z-index: 1;
rotate: 12deg;
margin-left: -683px;
margin-top: -290px;

}

.jnkn-s{
    text-align: left;font-weight: 500;line-height: 2.2;
}

.jkmnn{
  background: white; border-radius: 20px;padding: 35px;
}

.jnkn{
  border-radius: 50px;border-radius: 50px; margin: auto; width: 25px; font-weight: 600; border: solid inherit; margin-bottom: 10px;background:rgb(217, 255, 0);
    color: rgb(0, 75, 74);
}

.poasd{
  width: 222px;border-top-left-radius: 20px; border-top-right-radius: 20px; border-radius: 50pc;height: 100px;
}

.lkasdf{
position: absolute;
/* max-height: 301px; */
max-width: 600px;
margin-top: -323px;
z-index: 1;
margin-left: 60px;
rotate: -15deg;
}

.lkasdfx{font-size: 27px;color:white;margin-bottom:0px;}


.lkasdfxp{
  margin-top: 15px;margin-bottom: 20px;color:white;
}

.lkasdfxpp{
 margin-top: 13px;
}

.lkasdfxppa{
   padding: 5px 15px; font-size: 20px; border-radius: 50px; margin-top: 14px; font-weight: 600;background:rgb(217, 255, 0);
    color: rgb(0, 75, 74);
}
/* how it works */

/* blog */
 .cvxf{background:rgb(0, 75, 74);;  text-align: center; color: white;}
    .cddsf{
        overflow:hidden;position:relative;z-index:2;
    }

    .dsfd{
        position: absolute;max-width: 600px;margin-top: 106px;z-index: -1;margin-left: 20px;
    }

    .asd{
        font-size: 45px;font-weight: 500;
    }     

/* blog */

    /* blog detail */

        .d-t{
    margin: auto;
    max-width:490px;
    line-height: 35px;
    background: white;
    border-radius: 50px;
    color: #564e4e;
    padding: 50px;
    text-align:left;
}
.m-t-f-l{
    font-size: 40px;font-weight: 500;
}
.b-p-b-l {
    margin-bottom: 80px;
}

.b-p-b-l-i {
    height: 40px;
    width: 40px;
    margin-left: -10px;
}

.b-p-t {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 600;
    line-height: 65px;
}

.b-p-p {
    font-size: 18.5px;
}

.b-p-i {
    height: 262px;
    width: 100%;
    border-radius: 16px;
    margin-top: 10px;
}

.b-p-s-p {
    margin-top: 35px;
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
}
/* blog detail page */

      /* blog detail  */
   
/* content - blog detail  */


.wrdw{
    background:rgb(0, 75, 74);;  text-align: center; color: white;
}
.csdc{
    overflow:hidden;position:relative;z-index:2;
}

.ods{
    position: absolute;max-width: 600px;margin-top: 500px;z-index: -1;margin-left:50px;
}

.xerr{
    position: absolute;
/* max-height: 301px; */
max-width: 600px;
margin-top: -106px;
z-index: 1;
margin-left: 94px;
}


.xerrh{
    font-size: 27px;color:white;margin-bottom: 0px;
}

.xerrp{
    margin-top: 15px;margin-bottom: 20px;color:white;
}

.xerrpp{
    margin-top: 13px;
}

.xerrpa{
    padding: 5px 15px; font-size: 20px; border-radius: 50px; margin-top: 14px; font-weight: 600;background:rgb(217, 255, 0);
    color: rgb(0, 75, 74);
}


/* blog detail */



/* locations */
.uli{padding-left: 0px;}
.uli li { display: inline; white-space: pre;font-size: 17.5px; line-height: 40px;}
.uli li:after { content: "  \00b7  "; }
.uli li:last-child:after { content: ""; }


/* faqs */
.c-b-t > .content {
    margin-top: 0px;
}


.c-b-t {
    border-top: dashed 1.5px #564e4e;
}

    .c-b-t:first-child {
        border: none;
    }


.collapse {
    cursor: pointer;
    display: block;
    color: #564e4e;
    cursor: pointer;
    padding: 22px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 17.5px;
    transition: 0.4s;
    font-weight: 600;
    line-height: 35.5px;
    margin-bottom: 0px;
}


.content{
    text-align: left;
    line-height: 30px;
}


.c-b-t input {
    display: none;
}

.c-b-t > .collapse::after {
    content: '+';
    font-size: 22px;
    font-weight: 500;
    color: #564e4e;
    float: right;
}

.c-b-t > input:checked + .collapse::after {
    content: '-';
    font-weight: 500;
    color: #564e4e;
    float: right;
    font-size: 22px;
}

.c-b-t > input + label + .content {
    display: none;
}

.c-b-t > input:checked + label + .content {
    display: block;
}
/* faqs */
   

   .bns{
    background:rgb(0, 75, 74);  text-align: center;
   }



   .bnsd{
    overflow:hidden;position:relative;z-index:2;
   }

   .bnsdh{
    font-size: 45px;color: white;font-weight: 500;
   }

   .bnsdp{
    display: flex; margin-left: auto; margin-right: auto; max-width: 343px; line-height: 28px;color: white;
   }

   .bnfsdf{max-width: 490px;margin:auto;background: white;border-radius:50px;padding: 50px;padding-bottom: 0px;padding-top:25px;text-align: left;}

.gbs{
    position: absolute;
max-width: 630px;
margin-top: -406px;
z-index: 1;
margin-left: 94px;
rotate: -20deg;
}

.gbsd{font-size: 27px;color:white; margin-bottom: 0px;}

.gbdsd{margin-top: 15px;margin-bottom: 20px;color:white;}

.gbdsp{
    margin-top: 13px;
}

.gbdspa{
    padding: 5px 15px; font-size: 20px; border-radius: 50px; margin-top: 14px; font-weight: 600;background:rgb(217, 255, 0);
    color: rgb(0, 75, 74);
}

/* locations */



/*contact */


.sdfa{background:rgb(0, 75, 74);}

.sdfag{
max-width: 490px;margin:auto;background: white;border-radius:50px;padding: 50px;padding-bottom: 0px;padding-top:25px;text-align: left;
}

.sdfaga{
    border-bottom: solid rgb(217, 255, 0) 4px;color: #564e4e;font-weight: 500;
}

/* contact */


/* privacy */

.m-t h2{font-weight: 600;font-size: 18px;}

.m-t p{font-size: 15px;}

.m-t strong {

 font-weight: 600; 
}



.sdfa{background:rgb(0, 75, 74);}

.sdfag{
max-width: 490px;margin:auto;background: white;border-radius:50px;padding: 50px;padding-bottom: 0px;padding-top:25px;text-align: left;
}

.sdfaga{
    border-bottom: solid rgb(217, 255, 0) 4px;color: #564e4e;font-weight: 500;
}


.sdfs{
  border-bottom: solid rgb(217, 255, 0) 4px;color: #564e4e;font-weight: 500;
}
/* privacy */



/*terms */

.m-t h2{font-weight: 600;font-size: 18px;}

.m-t p{font-size: 15px;}

.m-t strong {

 font-weight: 600; 
}



.sdfa{background:rgb(0, 75, 74);}

.sdfag{
max-width: 490px;margin:auto;background: white;border-radius:50px;padding: 50px;padding-bottom: 0px;padding-top:25px;text-align: left;
}

.sdfaga{
    border-bottom: solid rgb(217, 255, 0) 4px;color: #564e4e;font-weight: 500;
}


.sdfs{
  border-bottom: solid rgb(217, 255, 0) 4px;color: #564e4e;font-weight: 500;
}
/* terms */