{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock %}
{% block content %}
   <div class="wrdw">

    <br><br>
<div class="csdc">
             <img class="ods" src="{% static 'images/photo3.png'%}">
    <div class="d-t">
                <span>
                    <a class="b-p-b-l" href="/blog/">
                        <svg class="b-p-b-l-i" fill="#564e4e" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    </a>
                </span>
                <br />
                <h1 class="b-p-t">Distance</h1>
                <p class="b-p-p">Published &bull; June 25th, 2025</p>
                <img class="b-p-i" src="{% static 'images/photo6.png'%}" />
                <br />
                <br />
               Many families live too far to regularly visit a loved one’s resting place. That’s where we come in. Our grave cleaning service gives you peace of mind knowing the site is cared for with respect and attention. We even provide before-and-after photos for every visit.

Compassionate service, no matter the distance.
<br><br>
Ask about our seasonal care plans — and let us handle the details. <br>
            </div>

             <div class="sted">
<br>
        <h3  class="xerrh">READY?</h3>
      <p  class="xerrp">Get started with year-round care. <br> Only $125 a season.</p>
<p class="xerrpp"><a class="xerrpa" href="https://forms.fillout.com/t/uiJ6eR9pNMus">REGISTER</a></p>
    </div>
<br><br>
  </div>
  </div>
   <!-- content -->   
   {% endblock %}




