{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock %}
{% block content %}
         <div class="cvxf">
<div class="cddsf">
             <img class="dsfd" src="{% static 'images/photo3.png'%}">

        <br><br><h1 class="asd">Blog</h1>
        <p>Stay in the know with a little <br/>fun reading:</p> 
        <br/>
  <div class="s-w-c">
    <div class="m-c">
        <div class="c-g-t">
            
            <div class="c-g-t-c-b" >
                <a href="/blog/1/">
                    <img class="c-g-t-c-i" src="{% static 'images/photo5.png'%}">
                    <div class="c-g-t-c-d"><header class="c-g-t-c-h">SEASONS</header></div>
                </a>
            </div>
            
            <div class="c-g-t-c-b" style="z-index:2;">
                <a href="/blog/2/">
                    <img class="c-g-t-c-i" src="{% static 'images/photo6.png'%}">
                    <div class="c-g-t-c-d"><header class="c-g-t-c-h">DISTANCE</header></div>
                </a>
            </div>

            <div class="c-g-t-c-b">
                <a href="/blog/3/">
                    <img class="c-g-t-c-i" src="{% static 'images/photo7.png'%}">
                    <div class="c-g-t-c-d"><header class="c-g-t-c-h">PETS</header></div>
                </a>
            </div>
            
            
        </div>
    </div>
</div>

 <br/> <br/> <br/> <br/> <br/>
  </div>
  </div>
   <!-- content -->
  

{% endblock %}




