    
    {% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}
{% block content %}

    <div class="s-w-l sdfa" style="overflow: hidden;">
       <br/> <br>

     <div class="c sdfag">
        
    <div class="m-t">
    

                <h1 class="b-p-t">Contact</h1>
                <p class="b-p-p">General &bull; Press</p>
              
               <p>For any general inquests, contact us at:   <a href="#" class="sdfaga"><strong>hello@cleangrave.co </strong></a> <br/></p>
                
            
            </div>

            <br><br>
        </div>
          <br><br>
  
    </div>

</div>
</div>
</div>
{% endblock %}