{% extends 'base.html' %}
{% load static %}
{% block title %} The Gravesite Cleaning and Decorating Subscription Service {% endblock %}
{% block content %}
    <!-- content -->
    <video autoplay muted loop class="video-background">
    <source src="{% static 'videos/flower.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="overlay">
    <br>
    <img src="{% static 'images/ologo.png'%}" class="ologo">
    <p>The grave cleaning & decorating<br>subscription service</p>
    <a class="overlay-a-button" href="https://forms.fillout.com/t/1aNCzvH97aus" style="z-index:3;">REGISTER</a>
    <br>
    <span class="overlay-span-1"><span  class="overlay-span-2"><b>*</b></span> Membership is only $125 a season.</span>

    <br> <br>
  <img class="overlay-i" src="/static/images/flower.png">
</div>
    <!-- content -->
{% endblock %}
