{% extends 'base.html' %}
{% load static %}
{% block title %} How It Works {% endblock %}
{% block content %}
    <!-- content -->
  
  
     <div class="jkjs">
   
       <br><br><h1 class="jkjsh">How it works</h1>
        <p class="jkjsp">We are here to help honor, preserve, and cherish your loved ones grave. Here’s how CleanGrave works:</p> 
     <br/>
        <div class="steps-container jksip">

              <img class="jksjk" src="{% static 'images/photo1.png' %}" >
    <div class="step jkmnn">
        
      <div class="jnkn">1</div>
       
      <h3> REGISTER</h3>
      <p>Register your loved one’s name, cemetery location, and  choice of care — seasonal or special request:

        <br>
      <span class="jnkn-s">
         &bull; $125 per season(4)
        <br>
        &bull; $250  per specialty
      </span> 

       <br>
(Flowers and Cleaning are Standard)
   
      </p>  

    </div>
      <div class="step jkmnn">
            <div  class="jnkn">2</div>

        <h3>CLEAN / SHARE</h3>
        <p>We clean the site, place your tribute, and share before-and-after photos.</p>
        <br/>
      <p><img  src="{% static 'images/bna.png'%}" 
       class="poasd"></p>
    </div>
    <div class="ste">
<img class="lkasdf" src="{% static 'images/photo2.png' %}">
<br>
        <h3 class="lkasdfx">READY?</h3>
      <p class="lkasdfxp">Get started with year-round care. <br> Only $125 a season.</p>
<p class="lkasdfxpp"><a class="lkasdfxppa" href="https://forms.fillout.com/t/uiJ6eR9pNMus">REGISTER</a></p>
    </div> <br> <br>
  </div>
    </div> <!-- content -->
       
  {% endblock %}
