{% extends 'base.html' %}
{% load static %}
{% block title %} Locations {% endblock %}
{% block content %}


    <!-- content -->
    <div class="bns">
        <div  class="bnsd">
        <br><br><h1 class="bnsdh">Locations</h1>

        <p  class="bnsdp">Here to service families in the tri-state area and beyond:</p> 
        <br/> 
  <div class="c bnfsdf">
        
    <div class="m-t">

                <div class="c-b-t">
                    <input type="checkbox" id="title1">
                    <label class="collapse" for="title1">CONNECTICUT</label>
                    <span class="content"><ul class=" uli"><li>Bridgeport, CT</li>
                <li>Fairfield, CT</li>
  <li>New Haven, CT</li>
  <li>Stamford, CT</li>
  <li>Hartford, CT</li>
  <li>New Caanan, CT</li>
  <li>Norwalk, CT</li>
   <li>Darien, CT</li>
  <li>Danbury, CT</li>
  <li>New Britain, CT</li>
  <li>Darien, CT</li> <li>Cos Cob, CT</li>
  <li>Greenwich, CT</li></ul></p>
                </div>
                <div class="c-b-t">
                    <input type="checkbox" id="title2">
                    <label class="collapse" for="title2">NEW YORK</label>
                    <span class="content">
                         <ul class="uli">  <li>Manhattan, NY</li>
  <li>Brooklyn, NY</li> <li>Port chester, NY</li> <li>Rye Brook, NY</li>
  <li>Queens, NY</li>
  <li>Bronx, NY</li>
  <li>Staten Island, NY</li>
  <li>Buffalo, NY</li>
  <li>Rochester, NY</li>
  <li>Yonkers, NY</li>
  <li>White Plains, NY</li>
  <li>New Rochelle, NY</li>
  <li>Schenectady, NY</li>
  <li>Albany, NY</li>
  <li>Syracuse, NY</li>
  <li>Mount Vernon, NY</li>
  <li>Poughkeepsie, NY</li>
  <li>Hempstead, NY</li>
  <li>Garden City, NY</li></ul>
                    </span>
                </div>
                <div class="c-b-t">
                    <input type="checkbox" id="title3">
                    <label class="collapse" for="title3">NEW JERSEY</label>
                    <span class="content"> <ul class="uli"> <li>Newark, NJ</li>
  <li>Jersey City, NJ</li>
  <li>Paterson, NJ</li>
  <li>Elizabeth, NJ</li>
  <li>Edison, NJ</li>
  <li>Woodbridge, NJ</li>
  <li>Trenton, NJ</li>
  <li>Clifton, NJ</li>
  <li>Camden, NJ</li>
  <li>Cherry Hill, NJ</li>
  <li>Hackensack, NJ</li>
  <li>Bayonne, NJ</li>
  <li>Union City, NJ</li>
  <li>Parsippany, NJ</li>
  <li>Morristown, NJ</li>
  <li>West Orange, NJ</li>
  <li>South Orange, NJ</li>
  <li>Hoboken, NJ</li></ul></span>
                </div>   
            </div>
        <br>
        </div>
<img class="gbs" src="{% static 'images/photo4.png' %}"/>
<div>
    <br>
        <h3 class="gbsd">READY?
</h3>
      <p class="gbdsd">Get started with year-round care. <br> Only $125 a season.</p>
<p class="gbdsp"><a class="gbdspa" href="https://forms.fillout.com/t/1aNCzvH97aus">REGISTER</a></p>
    </div> 
 <br/> <br/> <br/>
  </div>
</div>
   <!-- content -->
   {% endblock %}





